<div>
  <h1>Write your question!</h1>
  <form id="new_question" method="post" action="../questions">
  <p><label name="title">Title:</label></p>
  <input type="text" name="title">
  <p><label name="body">Body:</label></p>
  <textarea name="body"></textarea>
  <p><input type="submit" value="Publish"></p>
  </form>
</div>
