<h1> Welcome to Hipster Overflow </h1>
<center><img src="/img/beard.jpg" alt="hipsta pic"></center>
<h2><a href="/questions/new">Post a question</a></h2>
<ul>
<% @questions.each do |question| %>
  <a href="/questions/<%=question.id%>"><li><%= question.title %></li></a>
<% end %>
</ul>


